// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
%hd-top-style {
    margin: 0;
    @include setFont(15px, #fff);
}

%hd-logo-style {
    content: "";
    background-color: #fff;
    @include box(100%, 16px);
    @include absolute($left: 0);
}
%hd-hotline-style {
    @include grid(inline-flex, $flex-wrap: wrap, $justify-content: space-between, 
      $align-items: null, $gutter: null);
    img{
        margin-right: 5px;
    }
    p{
        margin-bottom: 0;
        span{
            display: block;
            @include setFont(20px, #333, 400, $font-UTM-Androgyne );
            @include text-shadow(-2px,-3px,2px,#fff, 2px,4px,2px,#fff);
            text-transform: uppercase;
        }
        a{
            display: block;
            @include setFont(22px, $theme-color, 400, $font-UTM-Androgyne );
            @include text-shadow(-2px,-3px,2px,#fff, 2px,4px,2px,#fff);
        }
    }
}
.hd-hotline{
    @extend %hd-hotline-style;
}
.hd-diachi{
    img{}
        p{
            span{}
            a{
                @include setFont(18px, #c8000a, 400, $font-UTM-Magnesium );
            }
        }
}
.hd-bg {
    width: 100%;
    z-index: 450;
    @include relative($left: 0);
    @include bg("header.jpg",$background-repeat: no-repeat,$background-size: cover,
        $background-position: center top); 
}
.hd-flex{
    @include boxstyle($display: flex, $justify-content: space-between, 
        $align-items: center);
    min-height: 110px;
    position: relative;
    .hd-left{

    }
    .hd-info{
        @include flex(1);
        @include boxstyle($display: flex, $justify-content: flex-end, 
            $align-items: center);
    }
}
.logo{
    display: inline-block;
    img{
        height: 110px;
        @include transition(all 0.4s ease);
        @include when-inside('.fixed'){
            height: 90px;
        }
    }
}
.banner{
    display: inline-block;
    img{
        height: 110px;
    }
}
