%mybs-carousel-img{
  @extend %img-fill;
  object-position: top center;
  object-fit: cover;
}
%mybs-carousel-horizontal{
  .carousel-indicators{
    position: relative;
    li{
      width: percentage(1/8);
      height: auto;
      figure{
        position: relative;
        padding-top: percentage(630/800);
        margin-bottom: 0;
        img{
          @extend %mybs-carousel-img;
        }
      }
    }
  }
  .carousel-slider{
    .carousel-item{
      position: relative;
      padding-top: percentage(630/800);
      img{
        @extend %mybs-carousel-img;
      }
      &.active{
        img{
          
        }
      }
    }
  }
}
%mybs-carousel-verticle{
  @include grid(flex, $flex-wrap: wrap, $justify-content: space-between, 
    $align-items: null, $gutter: null);
  .carousel-indicators{
    width: percentage(120/600);
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    position: relative;
    max-height: 350px;
    overflow-y: scroll;
    @include grid(flex, $flex-wrap: wrap, $justify-content: space-between, 
      $align-items: null, $gutter: null);
    li{
      width: 100%;
      height: auto;
      margin-bottom: 5px;
      border: 0;
      figure{
        position: relative;
        padding-top: percentage(315/400);
        margin-bottom: 0;
        img{
          @extend %mybs-carousel-img;
        }
      }
    }
  }
  .carousel-slider{
    order: 1;
    width: percentage(472/600);
    position: relative;
    .carousel-item{
      position: relative;
      padding-top: percentage(630/800);
      img{
        @extend %mybs-carousel-img;
      }
      &.active{
        img{
          
        }
      }
    }
  }
}
.mybs-carousel{
  @extend %mybs-carousel-verticle;
  
}