.checkouts-bg{
  @include grid($display: flex, $justify-content: space-between);
  position: relative;
  min-height: 100vh;
  &:before{
    @include absolute($top: 0, $right: 0);
    @include box(percentage(620/1420), 100%);
    z-index: -1;
    background-color: #fafafa;
    content: "";
    border-left: 1px solid #e1e1e1;
  }
}
.checkouts-cart-info{ 
  $pd-40: em(40);
  $pd-160: em(160);
  order: 1;
  padding: $pd-40 $pd-160 10px $pd-40;
  width: percentage(620/1420);
}
.cart-info-product-list{
  .product{
    @include grid($display: flex, $align-items: center, $justify-content: space-between);
    margin-bottom: 20px;
  }
  .product-quantity{}
  .product-price{
    @include setFont(12px, #4b4b4b, 500);
  }
  .product-image{
    position: relative;
    
    figure{
      @include box(65px, 65px, 8px);
      border: 1px solid #e1e1e1;
      position: relative;
      overflow: hidden;
      margin-bottom: 0;
      img{
        @extend %img-fill;
        object-fit: scale-down;
        z-index: -1;
      }
    }
    .product-thumbnail-quantity{
      @include absolute($top: -11px, $right: -11px);
      @include box(22px, 22px, 100%);
      @include grid($display: flex, $align-items: center, $justify-content: center);
      @include setFont(12px, #fff);
      background-color: rgba(153,153,153,0.9);
    }
  }
  .product-description{
    padding-left: 1em;
    &-name{
      @include setFont(14px, #4b4b4b);
      display: block;
    }
    &-variant{
      display: block;
      @include setFont(12px, #969696);
      strong{
        position: relative;
        @include doubly(){
          &:before{
            content: "";
            background-color: #333;
            @include absolute($left: 0);
            @include box(1px, 10px);
          }
        };
      }
    }
  }
}
.order-summary-section-discount{
  @include grid($display: flex, $justify-content: space-between, $flex-wrap: wrap);
  position: relative;
  border-color: #e1e1e1;
  border-style: solid;
  border-width: 1px 0;
  padding: 1em 0;
  margin-bottom: 1.5em;
  input{
    @include flex(1);
  }
  .btn{
    margin-left: 1em;
  }
}
.order-summary-section-total-lines{
  .total-line{
    @include grid($display: flex, $justify-content: space-between);
    @include setFont(14px, #717171);
    label{}
    span{}
  }
}
.total-line-table-footer{
  border-top: 1px solid #e1e1e1;
  padding-top: 1em;
  margin-top: 1em;
  .total-line{
    @include setFont(16px, #4b4b4b);
    span{
      font-size: 24px;
    }
  }
}
.checkouts-customer-info{
  $pd-40: em(40);
  $pd-160: em(160);
  padding: $pd-40 $pd-40 10px $pd-160;
  @include flex(1);
}
.checkouts-customer-info .main{}
.checkouts-customer-info{
    .main-header{
        .logo-text{
            text-transform: uppercase;

            @include setFont(em(28), #333, 700);
            a{
              color: #333;
            }
        }
        .header-navigate, .breadcrumb{
          background-color: transparent;
        }
        .header-navigate{
          .container{
            padding: 0;
          }
        }
    }
    .main-content{
    }
    .step-sections{
        .section-header{
            .section-title{
              @include setFont(em(18), #333, 700);
            }
        }
        .section-content{
          .content-box {
              box-shadow: 0 0 0 1px #d9d9d9;
              border-radius: 4px;
              background: #fff;
              color: #737373;
              margin-top: 1em;
              .content{
                background-color: #fafafa;
                padding: 20px;
                @include setFont(14px, #737373);
                border-bottom: 1px solid #d9d9d9;
              }
              .cus-radio{
                margin-bottom: 0;
                padding: 18px 18px 18px 35px;
                border-bottom: 1px solid #d9d9d9;
                @include setFont(14px, #737373);
                .checkmark{
                  @include absolute($left: 14px, $top: 20px);
                }
              }
          }
        }
    }
    
}
.step-footer{
  margin-top: 20px;
  @include grid($display: flex, $align-items: center, $justify-content: space-between);
    .step-footer-previous-link{
      @include setFont(14px, #338dbc);
        .previous-link-icon{
          fill: #338dbc;
          transition: all 0.2s cubic-bezier(0.3, 0, 0, 1);
          margin-right: 0.25em;
          @include grid($display: inline-flex, $align-items: center);
        }
        &:hover{
          .previous-link-icon{
            fill: #2b78a0; 
            -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
          }
        }
    }
    .btn{}
}
.visually-hidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    clip: rect(0 0 0 0);
    @include box(2px, 2px);
    margin: -2px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}
.order-summary-section-total-lines .total-line.total-line-reduction{
  display: none; 
}
.show-coupon{
      transition: all 0.3s ease-out;
      line-height: 1.3em;
      color: #ff6d6d;
      width: 100%;
      margin: 9px 0 2px;
      display: none;
      font-size: 12px;
}