// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
%idx-tit {} 
%idx-tit-line {
    content: "";
    background: url($images-url + "idx-l.png");
    @include box(134px, 7px);
    @include relative($bottom: -5px);
}
.idx-tit {
    @include grid($display: flex, $align-items: flex-end, $justify-content: center);
    position: relative;
    margin-bottom: 5px;
    h4 {
        @include setFont(40px, $theme-color, 400, $font-SVN-Lobster);
        text-align: center;
        line-height: 1;
        margin: 0;
        img{
        }
        span, a {
            color: $theme-color;
            display: inline-block;
            position: relative;
        }
    }
}
