%hover-box-mau{
    border: 1px solid #EE0000 !important; 
}
%size-style{
    @include setFont(16px, #333, 600);
    text-transform: uppercase;
}
%gia-style{
    color: red;
    position: relative;
    font-weight: 700;
    font-size: 20px;
}
$product-gutter: percentage(26/1200);
.product-grid{
    @include grid($display: flex, $flex-wrap: wrap, $gutter: $product-gutter);

}
/*san pham*/
.slick-box-item {
    padding: 0 em(15);
}
.pr-box{
    @include grid-col($col: 3, $grid-columns: 12, $gutter: $product-gutter);
    position:relative;
    @include transition(all .2s linear);

    @include when-inside('.slick-box-item'){
        // float: none;
        margin: 0;
        width: 100%;
    }

    article{
        position:relative;
        margin: 0 auto;
        background: #fff;
        .imgsp{
            display: block;
            overflow: hidden;
            position: relative;
            padding-top: percentage(220/280);
            margin-bottom: 10px;
            img{
                @extend %img-fill; 
                object-fit: cover;
                object-position: top center;
            }
            .giam{
                // @include absolute($top: 10px, $left: 10px);
                // @include box(40px, 40px, 100%);
                // @include setFont(12px, #fff);
                // @include boxstyle($display: inline-flex, $justify-content: center, $align-items: center);
                // background-color: #fc0214;
            }
        }

        .info{
            z-index: 6;
            position: relative;
            text-align: center;
            h3{
                @include setFont(16px, #333, 400);
                @include setTagAHover(#333, $theme-color);
                margin-bottom: 0;
                a{
                    @include transition(all .2s ease);
                    line-height: 1.3;
                }
            }

            p{
                @include boxstyle($display: flex, $flex-wrap: wrap, 
                    $align-items: flex-end, $justify-content: center);
                @include setFont(16px, #333);
                margin: 0;
                line-height: 1.5;
                del{
                    color: #8c8c8c;
                }

                strong{
                    // @include boxstyle($display: inline-flex, $flex-wrap: wrap);
                    // font-weight: 700;
                    color: $theme-color;
                    font-size: 16px;
                    display: block;
                    margin: 10px 0;
                }

                span{
                    color: $theme-color;
                    margin-left: 5px;
                }
            }
        }
        .muangay{
            @include setFont(14px, #808080, 400, $font-SVN-Poppins );
            background-color: #f2f2f2;
            border-radius: 20px;
            padding: 11px 20px;
            display: inline-block;
            margin: 0 auto 7px;
            text-transform: uppercase;
            cursor: pointer;
        }
    }
}

/*end san pham*/
div.wap_pro{   
    @include boxstyle($display: flex, $justify-content: space-between);
}
.zoom_slick{
    width: 50%;
    
}
.pr__detail--verticle .product_info{width:47%;}
.pr__detail--verticle .zoom_slick{width:50%;}
.pr__detail--verticle .zoom-container{display:flex;flex-direction:row-reverse;justify-content:space-between;}
.pr__detail--verticle .zoom_slick .slick2{width:85%;}
.pr__detail--verticle .zoom_slick .slick{width:13%;margin-top:0;}
.zoom_slick .slick2{border:1px solid #DDD;}
.zoom_slick .slick{margin-top:5px;}
.zoom_slick .slick img{width:95%;margin:auto;border:1px solid #DDD;box-sizing:border-box;cursor:pointer;object-fit:cover;}
.zoom_slick .slick img:hover{border:1px solid #F60;opacity:0.5;transition:1s;}

.xemgiohang{
    display: block;
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: #E80019;
    font:{
        size: 15px;
        weight: bold;
    };
    transition: 0.4s;
    margin: 7px auto 0;
}

.product_info{
    width: 48%;
    
    .li{
        font-size:13px;
        /* border-bottom: 1px solid #EEE; */
        padding:3px 0;

        &.ten {
            color: #000;
            font:{
              size: 1.4em;  
              weight: 700;
            };
        }

        &.gia{
            @extend %gia-style;
        }

        &.giakm{
            @extend %gia-style;
            @include flexbox;
            
            @include flex-wrap(wrap);

            & .tinh_phantram {
                background: red;
                width: 35px;
                display: block;
                height: 35px;
                line-height: 35px;
                border-radius: 50%;
                color: #fff;
                font-size: 12px;
                text-align: center;
                margin-left: 1em;
            }
        }

        &.giacu{
            text-decoration: line-through;
            color: #222;
            font:{
              size: 1em;  
              weight: 400;
            };
        }

        b{
            font-size:14px;
        }

        .add_to_cart{
            background: #0c0cdc;
            display: block;
            max-width: 300px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            text-transform: uppercase;
            cursor: pointer;
            color: #fff;
            font-size: 14px;
            transition: 0.4s;

            i{
                margin-right:10px;
                margin-top:3px;
                font-size:19px;
            }

            &:hover{
                transition: 0.4s;
                color: #fff;
                background: #f00;
            }
        }

        span.size{
            display: inline-block;
            padding: 2px 10px;
            border: 1px solid #DDD;
            border-radius: 3px;
            margin-right: 5px;
            cursor: pointer;

            &:hover{
                @extend %hover-box-mau;
            }
        }

        span.mausac{
            display: block;
            float: left;
            border: 1px solid #DDD;
            width: 30px;
            height: 30px;
            margin-right: 5px;
            cursor: pointer;
            font-size: 0;
            background-size: cover !important;

            &:hover{
                @extend %hover-box-mau;
            }
        }

        span.active_size{
            @extend %hover-box-mau;
        }

        span.active_mausac{
            @extend %hover-box-mau;
        }

        input.soluong{
            padding: 3px 0;
            width: 55px;
            border: 1px solid #dedede;
            text-align: center;
        }
    }
}

.box_detail_product{
    padding: 1rem;
    border: 1px solid #eee;
    box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, .2);
    margin: 0 0 1rem;
    border-radius: 5px;
}
/** css loc san pham **/
div.box-tim-nc{/* margin-top: 10px; *//* margin-bottom: 15px; */}
div.box-tim-nc .item-nc{list-style:none;margin: 0 0 30px  0;/* border: 1px solid #ccc; */position: relative;}
div.box-tim-nc .item-nc:nth-child(5n){margin-right:0px;}
.boxsectionloc {/* background: hsla(227, 100%, 54%, 0.15); */}
.boxsectionloc h2 {
    font-size: 16px;
    /* color: #1c185c; */
    text-transform: uppercase;
    font-weight: normal;
    /* font-family: 'tieude'; */
    /* float: left; */
    box-sizing: border-box;
    padding: 5px 10px 5px 0px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 14px;
}
.boxfilter {
    display: block;
    width: 100%;
    /* float: left; */
    /* height: 30px; */
    /* overflow: hidden; 
background: #fff;
    */
    
    box-sizing: border-box;
    transition:0.3s;
}
.boxfilter .itemfilter {
    line-height: 18px;
    margin: 6px 0 6px 0px;
    cursor: pointer;
    display: block;
    padding: 4px 0;
}
.boxfilter .checkboxfilter {
    /* float: left; */
    width: 16px;
    height: 16px;
    border: 1px solid #b9b8b8;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    margin-right: 8px;
    cursor: pointer;
    background: #FFF;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    /* display: inline-block; */
    float: left;
    margin-top: 2px;
}
.boxfilter img{max-width:42px !important;max-height: 17px !important;}
.boxfilter .itemfilter.checked .checkboxfilter {
    background: #4a90e2;
    border-color: #4a90e2;
}
.boxfilter .checkboxfilter i {
    margin: auto;
    color: #fff;
}
.boxfilter p {
    display: inline-block;
    font-size: 13px;
    /* color: #0e57ab; */
}
.boxfilter .click_xo{
    position:absolute;
    right:5px;
    top: 7px;
    display: none;
    width: 20px;
    text-align: right;
    cursor: pointer;
    }
.boxfilter .click_xo i{font-size:15px;color: #1c185c;}
.boxfilter .click_xo:hover i{color:#f00;}
.act-fil{height:auto;}
#wap_tags {
    padding: 9px 0;
}
#wap_tags span {
    display: inline-block;
    vertical-align: text-bottom;
    line-height: 22px;
    padding: 0 0 0 5px !important;
    background: #4a90e2;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    border-radius: 4px;
    position: relative;
    width: auto;
    margin-bottom: 5px;
    margin-right: 5px;
    height: 22px;
    cursor: pointer;
}

#wap_tags span:after {

    content: '';
    float: right;
    width: 22px;
    height: 22px;
    border-radius: 0 4px 4px 0;
    background: #206bc1;
    margin-left: 5px;
}
#wap_tags span:before {
    content: '\f00d';
    font-family: $font-awesome;
    position: absolute;
    right: 6px;
}
#wap_tags span.delall {
    background: #c10016;
}
#wap_tags span.delall:after {
    background: #980617;
}
/** css loc san pham **/
.muangay.nutdathang, a.dathang.nutdathang{
    width:49%;
    display:inline-flex;
    justify-content:center;
    text-transform:uppercase;
    background-color:#000;
    color:#fff!important;
    border-radius:4px;
    padding:10px;
    font-size:18px;
    font-weight:700;
}