// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Container's maximum width
/// @type Length
$max-width: 1230px !default;
$browser-context: 16;
/* ======================== FONTS ======================== */
$font-SFUSchadowBTBlackCondensed        : 'SFUSchadowBTBlackCondensed';
$font-UTM-Magnesium                     : 'UTM-Magnesium';
$font-UTM-Loko                          : 'UTM-Loko';
$font-SVN-Lobster                       : 'SVN-Lobster';
$font-SVN-Poppins                       : 'SVN-Poppins';
$font-UTMHelvetIns                      : 'UTMHelvetIns';
$font-UTMYenTu                          : 'UTMYenTu';
$font-UTMImpact                         : 'UTMImpact';
$font-SFUFuturaBook                     : 'SFUFuturaBook';
$font-SFUFuturaHeavy                    : 'SFUFuturaHeavy';
$font-SFUBelleRegular                    : 'SFUBelleRegular';
$font-JosefinSans                       : 'Josefin Sans', sans-serif;
$font-roboto-mono                       : 'Roboto Mono', monospace;
$font-open-sans                         : 'Open Sans', sans-serif;
$font-roboto-condensed                  : 'Roboto Condensed', sans-serif;
$font-roboto                            : 'Roboto', sans-serif;
$font-barlow-semi-condensed             : 'Barlow Semi Condensed', sans-serif;
$font-montserrat                        : 'Montserrat', sans-serif;
$font-muli                              : 'Muli', sans-serif;
$font-oswald                            : 'Oswald', sans-serif;
$font-nunito                            : 'Nunito', sans-serif;
$font-lora                              : 'Lora', serif;


$font-title             : $font-roboto;
$font-text              : $font-roboto;
$font-awesome           : 'Font Awesome 5 Free';
$font-second            : 'Arial';
/* ======================== HEADER ======================== */
$bg-header-top          : #f9f9f9;
$bg-header              : #f9f9f9;
$bg-breadcrumb           : #f7f6f6;
/* ======================== MENU ======================== */
$font-menu              : $font-roboto;
$color-menu-hover       : #ff0;
$bg-menu                : #e01c1a;
$bg-valak               : #0063d3;
$bg-menu-item           : transparent;
$bg-menu-item-hover     : transparent;
/* ======================== FOOTER ======================== */
$bg-copyright       : #003e6e;
$bg-footer          : #0063d3;
$theme-color        : #0063d3;
$height-map         : 390px;
/* ======================== URL ======================== */
$font-url           : 'css/fonts/';
$font-awesome-url   : 'css/fontawesome/webfonts/';
$images-url         : 'images/';
/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;


/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels



/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/' !default;

$device_size_mobile   : 425px;
$device_size_small    : 768px;
$device_size_medium   : 992px;
$device_size_large    : 1200px;

$MB: "'<=mobile','screen'";
$XS: "'>mobile','<small','screen'";
$SM: "'>=small','<medium','screen'";
$MD: "'>=medium','<large','screen'";
$LG: "'>=large','screen'";
